@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/catalogo.css");
@import url("./styles/footer.css");

:root {
    --fonte-itens: "Atkinson Hyperlegible Next", serif;
    --fonte-base: "Montserrat", serif;
    --fonte-secundaria: "Lexend Deca", serif;
}

body {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100vw;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

h4 {
    padding: 7px;
}

footer {
    width: 100vw;
}


