.banner {
    display: flex;
    margin: 15px;
    border-radius: 10px;
    background-color: #D8D9DA;
    position: relative;
}

img#logo-branco{
    display: none;
}

.banner-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
    font-family: var(--fonte-base);
    font-size: 12px;
}

.banner-texto-button {
    background-color: #000;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 4px;
}

.banner-texto-button :hover{
    color: #FFB22C;
}

img#banner-marcador {
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 15px;
    left: 25px;
}

@media screen and (min-width: 750px) and (max-width: 1024px){
    .banner{
        margin: 5vw;
        padding: 2vw;
    }

    img#banner-marcador{
        display: none;
    }

    img#lancamento-foto{
        width: 550px;
    }

    #lancamento{
        font-size: 3vw;
        color: #be831c;
    }

    .banner-texto{
        font-size: 25px;
    }

    .banner-texto-button{
        height: 45px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1025px){
    .banner{
        margin: 20px;
        width: 75%;
        display: flex;
        background-color: #000;
        align-items: center;
    }

    img#logo-branco{
        display: block;
        width: 250px;
        height: 264px;
    }

    img#lancamento-foto{
        width: 500px;
        height: 500px;
    }

    img#banner-marcador{
        display: none;
    }

    .banner-texto{
        height: 300px;
        justify-content: space-between;
        color: #D8D9DA;
        font-size: 22px;
    }

    #lancamento{
        color: #FFB22C;
    }

    .banner-texto-button{
        color: #000;
        background-color: #e4ee579a;
        padding: 10px;
        font-size: 20px;
    }
}

