.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.item-catalogo {
    font-family: var(--fonte-itens);
    margin: 20px;
    text-align: center;
    width: 130px;
    height: 190px;
    font-size: 12px;
}

.item-foto {
    background-color: #fff;
    width: 110px;
    height: 110px;
}

.add-carrinho {
    background-color: #000;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    border: none;
}

.carrinho-branco {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 750px) and (max-width: 1024px){
    .catalogo{
        border-radius: 15px;
        margin: 35px;
        padding-bottom: 15px;
    }

    .item-catalogo {
        width: 250px;
        height: 280px;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .item-foto{
        width: 190px;
        height: 190px;
    }

    .add-carrinho{
        height: 30px;
    }

    .carrinho-branco{
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 1025px){
    .catalogo{
        border-radius: 30px;
        padding: 40px;
    }

    .item-catalogo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 250px;
        height: 400px;
        font-size: 20px;
        padding-bottom: 15px; 
    }

    .item-foto{
        width: 250px;
        height: 250px;
    }

    .add-carrinho{
        height: 30px;
        border-radius: 5px;
    }

    .carrinho-branco{
        width: 25px;
        height: 25px;
    }
}

