a {
    color: #000; 
}

.rodape {
    display: flex;
    font-family: var(--fonte-base);
    font-size: 2,5vw;
    align-items: center;
    justify-content: space-around;
}

.rodape-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redes-sociais {
    align-items: center;
    margin-top: 10px;
}

.rodape-ancora {
    padding: 1vw;
}

a :hover {
    color: #61677A;
}

img#whats {display: none;}
img#face {display: none;}
img#insta {display: none;}

@media screen and (min-width: 750px) and (max-width: 1024px){
    .rodape{
        font-size: 3vw;
    }

    img#whats {display: block;}
    img#face {display: block;}
    img#insta {display: block;}

    .rodape-ancora{
        display: flex;
        align-items: center;
    }
}


