a {
    color: #000; 
}

.rodape {
    display: flex;
    font-family: var(--fonte-base);
    font-size: 2,5vw;
    align-items: center;
    justify-content: space-around;
}

img#logo-rodape{display: none;}

.rodape-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redes-sociais {
    align-items: center;
    margin-top: 10px;
}

.rodape-ancora {
    padding: 1vw;
}

a :hover {
    color: #61677A;
}

img#whats {display: none;}
img#face {display: none;}
img#insta {display: none;}

@media screen and (min-width: 750px) and (max-width: 1024px){
    .rodape{
        font-size: 2vw;
    }

    img#whats {
        display: block;
        width: 27px;
        height: 27px;
    }
    img#face {
        display: block;
        width: 27px;
        height: 27px;
    }
    img#insta {
        display: block;
        width: 27px;
        height: 27px;
    }

    .rodape-ancora{
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1025px){
    .rodape{
        font-size: 20px;
        background-color: #D8D9DA;
        position: relative;
    }

    img#logo-rodape{
        position: absolute;
        display: block;
        left: 50%;
        top: 20%;
    }

    img#whats {
        display: block;
        width: 27px;
        height: 27px;
    }
    img#face {
        display: block;
        width: 27px;
        height: 27px;
    }
    img#insta {
        display: block;
        width: 27px;
        height: 27px;
    }

    .rodape-ancora{
        display: flex;
        align-items: center;
        padding: 1px;
    }
}

