.cabecalho {
    display: flex;
    justify-content: space-around;
    border: 3px;
    padding-top: 15px;
    padding-bottom: 20px;
    position: relative;
}

img#logo-desktop{display: none;}

.titulo {
    font-size: 25px;
    padding-bottom: 8px;
}

.pesquisa{
    border-radius: 15px;
    border: solid 2px;
    background: url("../icons/lupa.png") no-repeat;
    background-position: center right;
    background-color: #D8D9DA;
    padding: 8px;
}

.pesquisa ::placeholder {
    font-size: 14px;
    text-align: center;
    font-family: var(--fonte-base);
}

.icones {
    width: 35px;
    height: 35px;
    margin: 10px;
}

.cabecalho-sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.cabecalho-sessao-acesso {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

.titulo-pesquisa {
    justify-content: space-between;
}

.login-carrinho {
    display: flex;
    align-items: baseline;
    font-family: var(--fonte-base);
}

p#carrinho {display: none;}
p#login {display: none;}

.navegacao {
    display: flex;
    text-shadow: none;
    padding: 5px;
    justify-content: space-around;
    font-family: var(--fonte-base);
    width: 100%;
}

a :hover {
    color: #61677A;
}

@media screen and (min-width: 750px) and (max-width: 1024px){
    .titulo{
        font-size: 7vw;
    }

    .pesquisa{
        width: 60%;
        padding: 10px;
        margin: 20px;
        font-size: 20px;
    }

    .icones {
        width: 50px;
        height: 50px;
    }

    .navegacao{
        font-size: 27px;
    }
}

@media screen and (min-width: 1025px){
    header{
        background: #000 url("../imagens/background-header.jpg") no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .cabecalho{
        height: 400px;
    }

    .cabecalho-sessao{
        justify-content: center;
        padding: 2vw;
    }

    picture#logo-nome-lw{display: none;}
    p#carrinho {display: block;}
    p#login {display: block;}
    img#logo-desktop{
        display: block;
        position: absolute;
        left: 30px;
    }

    .titulo{
        font-size: 6vw;
        margin-left: 10vw;
        margin-top: 8vw;
    }

    .pesquisa{
        width: 70%;
        padding: 13px 30px 13px 30px;
        margin: 20px;
        font-size: 25px;
        color: #000;
        border-radius: 30px;
        background-position: 95% center;
        background-color: #1414149a;
        margin-left: 10vw;
    }

    .cabecalho-sessao-acesso{
        font-family: var(--fonte-base);
        font-size: 1.5vw;
        align-items: center;
    }

    .cadastro{
        display: flex;
        align-items: baseline;
    }

    .navegacao{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
}




